.cartDetails{
border-style: solid;
border-color:#ccc;
border-width:thin;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.cartImage{
    width:120px;
    height:80px;
    border-radius: 7px;
}
.cartTitle{
    font-size: 10px;
}
.label{
    color:#ccc;
    margin-right: 4px;
    text-align: center!important;
}
.dropDown{
    border-color: #ccc;
    text-align: center;
}
.quantity{
  text-align: center;
}
.price{
    color:#ec5459;
    text-align: right;
}
.remove{
    text-align: center;
    border-style: solid;
    border-color: #ccc;
    border-width: thin;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height:35px;
}
